kr-multi-select-checkbox {
  display: inline-block;
  width: 100%;
  padding: 0;

  button {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    background: white;
    border: 1px solid #ced4da;
    padding: 5px 10px;
    outline: none;
    border-radius: 4px;
    clear: right;

    :hover{
      background: #f3eeee;
      cursor: pointer;
    }

    i.icon {
      float: right;
      margin-top: 5px;
    }
  }

  div.choices {
    display: inline-block;
    background: white;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border: 1px solid #ced4da;
    margin: 0;
    text-align: left !important;
    z-index : 1000;
    position: absolute;
    /*max-height: 500px;
    overflow-y: auto;*/

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 5px 10px;

        input {
          cursor: pointer !important;
          margin-right: 5px;
        }

        &:hover{
          background: #eee;
          cursor: pointer;
        }
      }
    }
  }
}