@media (max-width: 992px) {
  kr-layout-topbar div.navbar-collapse {
      position: fixed;
      left: 0px;
      top: 0px;
      display: block !important;
      min-height: 100vh;
      width: 80%;
      overflow-y: auto;
      transition: margin 0.25s ease-out 0s;
      margin-left: -80%;
  }

    kr-layout-topbar .navbar-collapse.show {
        margin-left: 0% !important;
    }

    kr-layout-topbar .navbar-toggler {
      float: right;
      display: block;
    }
}

kr-layout-sidebar {
  #loading {
    width: 10rem;
    height: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 100000;
  }

  .sidebar-header {
    background-color: #3097d1 !important;
    border-color: #2984b7 !important;
    height: 54px;

    .navbar-toggler {
      color: rgba(255, 255, 255, 0.8);
      border-color: rgba(255, 255, 255, 0.6);
    }

    .navbar-toggler-icon {
      color: rgba(255, 255, 255, 0.4);
    }
  }

  .sidebar-menu {
    width: 250px;
    background-color: #333;
    position: fixed;
    overflow-y: auto;
    height: 100%;
    display: flex;
    float: left;
    box-sizing: border-box;
    padding: 15px;

    ul {
      list-style: none;
      padding-left: 0 !important;
    }

    ul li a {
      display: inline-flex;
      align-items: center;
      padding: .25rem .5rem;
      font-weight: 600;
      color: rgba(255, 255, 255, .85);
      background-color: transparent;
      text-decoration: none;
    }

    ul li ul {
      list-style: none;
      padding-left: 0 !important;
      font-weight: 400 !important;
      padding-bottom: 0.25rem !important;
      font-size: 0.875em;
    }

    ul li ul li a {
      padding: .1875rem .5rem;
      margin-top: .125rem;
      margin-left: 1.25rem;
    }
  }

  .sidebar-body {
    margin-left: 250px;
    flex-grow: 1;
    flex-shrink: 1;
    box-sizing: border-box;
    padding: 1rem 1rem 1rem 1rem;
  }
}


