kr-table {
  table.table thead tr th {
    background-color: #f3f2f2;
    color: #706e6b !important;
    border-right: 1px solid #706e6b;
    border-bottom: 1px solid #dddbda !important;
    border-top: 1px solid #dddbda !important;
  }

  table.table thead tr th:last-child { border-right: 0; }

  table.table tbody tr:last-child td { border-bottom: 1px solid #dddbda !important; }

  table.table tfoot td {
    border: 0;
    text-align: center;
  }

  table.table tfoot nav { display: inline-block; margin: auto; }
}